* {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: #1761ff;
}

.taptap {
    height: calc(100vh - 56px);
    background: linear-gradient(235deg, #02b2f7, #0026ff, #0026ff, #02b2f7);
    background-size: 500% 200%;
    animation: anim-bg 10s ease infinite;
}

.tapper {
    background: rgb(0, 27, 117);
    box-shadow: 0 0 20px 10px rgba(0, 27, 117, 0.8);
    position: relative;
    transition: 0.1s ease-in;
}

.tapped {
    transform: scale(1.05);
}

.head span {
    font-size: 30px;
    align-self: center;
}

.head {
    display: flex;
    align-content: center;
    justify-content: center;
}

.gradient-text {
    background: linear-gradient(135deg, red, rgb(255, 102, 0), rgb(233, 168, 26) 80%, rgb(255, 102, 0), red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.plus-one {
    position: absolute;
    font-family: Inter;
    text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;
}

@keyframes move-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes anim-bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}